{% extends "App1/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    {% if miFormulario.errors %} 
    <p style="color: red;">Estan mal los datos, revisar</p>
    {% endif %}

    <form action="" method="post">{% csrf_token %}
        <!--Aca esta la magia-->
        <table>
            {{ miFormulario.as_table }}
        </table>

        <input type="submit", value="Cargar producto">
    <p                                                      ></p>
        <form method="GET">
            {% csrf_token %}
            {{ form.as_p }}
            
            <a href="{% url 'busquedaProducto' %}" class="btn btn-success">Buscar productos</a>
        </form>        
        <p                                                      ></p>                                            
       
        <p                                                      ></p>
        <form method="GET">
            {% csrf_token %}
            {{ form.as_p }}
            
            <a href="{% url 'listaProducto' %}" class="btn btn-success">Lista de productos</a>
        </form> 
{% endblock %}